@inherits Microsoft.AspNetCore.Components.LayoutComponentBase

<div class="page">
    <div class="main-content">
        <div class="top-bar">
            <a class="brand" href="/">BlazorBlogging</a>
        </div>
        <div class="content-wrapper">
            <div class="content-inner">
                @Body
            </div>
        </div>
    </div>
</div>
