<nav>
    <div class="nav-item">
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
            Home
        </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link" href="blogs">
            View Blogs
        </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link" href="blogs/create">
            Create Blog
        </NavLink>
    </div>
</nav>
